$body-bg: map-get($color, white);

/**
 * Table Elements
 */

 // Caption Element represents the title of a table. Though it is 
 // always the first descendant of a <table>, its styling, using CSS, 
 // may place it elsewhere, relative to the table.
 //
caption {
	text-align: left;
}

// Table Element represents data in two dimensions or more.
table {
	width: 100%;
  max-width: 100%;
}

// Table cell HTML element defines a cell of a table that contains 
// data. It participates in the table model.
td {
  text-align: left;
}

// Header Cell Element (<th>) defines a cell that is a header for a 
// group of cells of a table. The group of cells that the header refers 
// to is defined by the scope and headers attribute.
th {
	text-align: left;
}

// Head Element (<thead>) defines a set of rows defining the head of 
// the columns of the table.
thead {

  @media print {
    display: table-header-group; // h5bp.com/t
  }
}

// Row Element defines a row of cells in a table. 
// Those can be a mix of <td> and <th> elements.
tr {

  @media print {
    page-break-inside: avoid;
  }
}

// Top align
thead,
tbody,
tfoot {
	tr {
		th, 
		td {
      vertical-align: top;
    }
  }
}

// Bottom align for column headings
thead > tr > th {
	vertical-align: bottom;
}

// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}

table {
  @media print {
    border-collapse: collapse !important;
  }

  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }

    @media print {
      background-color: $body-bg !important;
    }
  }
}
