<div class="Site__container">
	<div class="Grid--withGutters">
		<header class="Site__header Grid__cell">
			<div class="Grid Grid--withGutters">
				<div class="Grid__cell u-size1of5">
					<p>logo</p>
				</div>
			</div>
		</header>
		<div class="Site__section Grid__cell">
			<p>Banner</p>
		</div>
		<div class="Site__section Grid__cell">
			<p>Notice</p>
		</div>
		<div class="Site__section Site__section--last Grid__cell">
			<h1>Hello, World!</h1>

			<!-- { { > paragraph } } -->

			<div>
				<!-- { { > form } } -->
			</div>
		</div>
		<footer class="Site__footer Grid__cell">
			<p>footer</p>
		</footer>
	</div>
</div>