<div class="Container--withGutter u-nbfc">
	<div class="Grid Grid--withGutter EQ" data-eq-pts="sm: 768, md: 992">
		<div class="Grid__cell u-size1of2 u-sm-size4of5 u-md-size1of5">
			<p>test</p>
		</div>
		<div class="Grid__cell u-size1of2 u-sm-size1of5 u-md-size4of5">
			
			<div class="Grid Grid--withGutter">
				<div class="Grid__cell u-size1of2">
					<p>test 2 a</p>
				</div> 
				<div class="Grid__cell u-size1of2">
					<p>test 2 b</p>
				</div>
			</div>

		</div>
		<div class="Grid__cell">
		<p>test 3</p>
		</div>
	</div>
</div>