<div class="Container Container--withGutter u-nbfc">
	<div class="Grid Grid--withGutter" data-eq-pts="sm: 768, md: 992">
		<div class="Grid__cell u-size1of2 eq-sm-size4of5 eq-md-size1of5">
			<p>test</p>
		</div>
		<div class="Grid__cell u-size1of2 eq-sm-size1of5 eq-md-size4of5">
			
			<div class="Grid Grid--withGutter" data-eq-pts="xs: 100, sm: 200, md: 300">
				<div class="Grid__cell u-size1of2">
					<p>test 2 a</p>
				</div>
				<div class="Grid__cell Grid__cell--hasBackground u-size1of2 eq-sm-size1of2 eq-md-size1of2">
					<div class="Media">
						<a href="#" class="u-block u-linkClean">
							<h3 class="Media__heading">Headline</h3>
							<span class="Media__body u-block">
								<p>Body Copy</p>
								<span class="u-inlineBlock">Click here</a>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="Grid__cell">
			<p>test 3</p>
		</div>
	</div>
</div>