@charset "UTF-8";

/// Source Sans Pro font stack.
///
/// @type List

$source-sans-pro: "Source Sans Pro", sans-serif;

/// Georgia font stack.
///
/// @type List

$georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;

/// Monospace font stack.
///
/// @type List

$bitstream-vera-sans-mono: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;

/// Helvetica font stack.
///
/// @type List

$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

/// Lucida Grande font stack.
///
/// @type List

$lucida-grande: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;

/// Verdana font stack.
///
/// @type List

$verdana: "Verdana", "Geneva", sans-serif;

