$body-bg: white;
$table-bg: silver;
$table-cell-padding: 10px;
$text-muted: #333;
$line-height-computed: 1em;
$line-height-base: 1em;
$table-border-color: #000;
$table-condensed-cell-padding: 5px;
$table-bg-accent: #cecece;
$table-bg-hover: #aeaeae;
$table-bg-active: yellow;
$state-success-bg: green;
$state-info-bg: blue;
$state-warning-bg: orange;
$state-danger-bg: red;


//
// Tables
// --------------------------------------------------

.Table {
  @include theme(default) {
    margin-bottom: $line-height-computed;
  }
  
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: top;

        @include theme(default) {
          padding: $table-cell-padding;
          line-height: $line-height-base;
          border-top: 1px solid $table-border-color;
        }
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;

    @include theme(default) {
      border-bottom: 2px solid $table-border-color;
    }
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    @include theme(default) {
      border-top: 2px solid $table-border-color;
    }
  }

  // Nesting
  .Table {
    @include theme(default) {
      background-color: $body-bg;
    }
  }
}

// Condensed table w/ half padding
//
.Table--condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        @include theme(default) {
          padding: $table-condensed-cell-padding;
        }
      }
    }
  }
}

// Bordered version
//
// Add borders all around the table and between all the columns.
//
.Table--bordered {
  @include theme(default) {
    border: 1px solid $table-border-color;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        @include theme(default) {
          border: 1px solid $table-border-color;
        }
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      @include theme(default) {
        border-bottom-width: 2px;
      }
    }
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
//
.Table--striped {
  > tbody > tr:nth-of-type(odd) {
    @include theme(default) {
      background-color: $table-bg-accent;
    }
  }
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping
//
.Table--hover {
  > tbody > tr:hover {
    @include theme(default) {
      background-color: $table-bg-hover;
    }
  }
}

// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
@include theme(default) {
  @include table-row-varient(s-active, $table-bg-active);
  @include table-row-varient(s-success, $state-success-bg);
  @include table-row-varient(s-info, $state-info-bg);
  @include table-row-varient(s-warning, $state-warning-bg);
  @include table-row-varient(s-danger, $state-danger-bg);
}

// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.
//
// @required  data-eq-pts="xs: 480"
//
.Table--responsive {
  overflow-x: auto;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

  width: 100%;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @include theme(default) {
    border: 1px solid $table-border-color;
    margin-bottom: ($line-height-computed * 0.75);
  }

  // Tighten up spacing
  > .Table {
    @include theme(default) {
      margin-bottom: 0;
    }

    // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
  }

  // Special overrides for the bordered tables
  > .Table--bordered {
    @include theme(default) {
      border: 0;
    }

    // Nuke the appropriate borders so that the parent can handle them
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:first-child,
        > td:first-child {
          @include theme(default) {
            border-left: 0;
          }
        }
        > th:last-child,
        > td:last-child {
          @include theme(default) {
            border-right: 0;
          }
        }
      }
    }

    // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
    // chances are there will be only one `tr` in a `thead` and that would
    // remove the border altogether.
    > tbody,
    > tfoot {
      > tr:last-child {
        > th,
        > td {
          @include theme(default) {
            border-bottom: 0;
          }
        }
      }
    }

  }

  @include eq(xs) {
    width: inherit;
    overflow-y: auto;
    -ms-overflow-style: auto;

    @include theme(default) {
      border: 0;
      margin-bottom: $line-height-computed;
    }

    > .Table {
      @include theme(default) {
        margin-bottom: inherit;
      }

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: inherit;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .Table--bordered {
      @include theme(default) {
        border: 1px solid $table-border-color;
      }

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            @include theme(default) {
              border: 1px solid $table-border-color;
            }
          }
          > th:last-child,
          > td:last-child {
            @include theme(default) {
              border: 1px solid $table-border-color;
            }
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            @include theme(default) {
              border: 1px solid $table-border-color;
            }
          }
        }
      }

    }
  }
}

.zz {
  @include eq('xs') {
    width: inherit;
  }
}