.VisualGrid {
  display: block;
  // max-width
  // clearfix
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  z-index: 1000;
  padding: 0; // 0 $gutter;

  /*
  @include media(min-width $px1000) {
    left: 50%;
    margin-left: -($max-width / 2);
  }
  */

}

.VisualGrid__cell {
  //@include span-columns(1, custom);
  //@include omega(#{$grid-columns}n);
  //background-color: rgba($visual-grid-color, $visual-grid-opacity);
  height: 100%;
  min-height: 100%;
}


// https://vimeo.com/17079380 (More Perfect Typography)
// http://lamb.cc/typograph/
.VisualGrid__rhythm {
  &:before {
    /*content: "";
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100%;
    //@include background-image(linear-gradient(rgba($visual-rhythm-color, $visual-rhythm-opacity) .1em, transparent .1em));
    background-color: transparent;
    //background-size: 100% ($baseline / 2);
    background-position: left top;
    background-repeat: repeat;
    //z-index: ($z-index-9 + 1);*/

    //container inside of "f-item-preview"
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 2em);
    height: calc(100% - 3.5em); // needs testing
    //background-image: -webkit-linear-gradient(rgba(0,255,255,.3).1em,transparent .1em);
    //background-image: linear-gradient(rgba(0,255,255,.3).1em,transparent .1em);
    background-color: transparent;
    //background-size: 100% $base-unit;//100% 8px;
    //background-position: left top;
    background-repeat: repeat;
    z-index: 10;
    overflow: hidden;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1667) 0%, transparent 20%);
    background-size: 100% rem($base-unit);
    background-position: left top;
  }
}